language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - nightly

matrix:
  allow_failures:
    - php: nightly
    - php: 5.4

install:
  - composer install

before_install:
  - composer self-update

sudo: false
